###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
tests/.DS_Store
.DS_Store
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-profiler-bundle ###
/config/packages/when@dev/web_profiler.yaml
/config/routes/when@dev/web_profiler.yaml
###< symfony/web-profiler-bundle ###

# Paramètres
/config/parameters.yaml
